DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
CLOUDINARY_CLOUD_NAME=drrzakkgo
CLOUDINARY_API_KEY=152677593797612
CLOUDINARY_API_SECRET=1XxI9ERkvsm5nFxRqdmZzIyx0fc
CLOUDINARY_MEDIA_PREFIX=afrs/payload/media
